<p>
  <strong>Threat: </strong>
  <%= requirement.threat.title %>
</p>
<p>
  <strong> Solution</strong>
  <%= requirement.solution.title if not requirement.solution.nil? %> 
</p>

<p>
  <%= link_to 'Edit ', edit_project_requirement_path(requirement.project,requirement) %>
  <%= link_to ' Destroy', [requirement.project, requirement], method: :delete, data: {confirm: 'Are you sure?'} %>
</p>
