<div class="jumbotron">
  <h1>Welcome<small> to <i>4Risk Manager</i></small></h1>
  Para que engenheiros de requisitos possam tratar dos requisitos de segurança em um sistema e realizar um check list  com catalogação destes, propomos o <strong><i>4Risk Mananger</i></strong>, um gerenciador de risco, que fornece uma interface de auxilio à criação de requisitos de segurança. Este sistema torna possível a catalogação das ameaças presentes nos projetos, assim como formas para mitigação das mesmas, e se propõe a auxiliar o engenheiro, através deste conhecimento, a elucidar os riscos inerentes ao projeto. 
  </br>
  <%= link_to 'Projects', projects_path , {:class=>"btn btn-default"}%>

  <%= link_to 'Threats', threats_path, {:class=>"btn btn-default"} %>
</div>