<h1>Threat</h1>
<p>
  <strong>Title:</strong>
  <%= @threat.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @threat.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @threat.description %>
</p>
